nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}
nav{
    background-color: black;
    overflow: hidden;
}
nav a:hover{ /*color of the links will change if you hover over it*/
    color: tomato;
}
nav a:visited{ /*links already visited will change its color*/
    color: royalblue;
}